td.fc-day {
    padding: 2px !important;
    border: none !important;
}
tr, table, td.fc-day {
    background: var(--body-background) !important;
}
.fc-event {
    border-radius: 3px !important;
    padding: 2px;
}
body div.fc-daygrid-day-frame {
    border-radius: 10px !important;
    background-color: var(--theme-generic) !important;
}
div.fc-event-main {
    height: 22px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: height 100ms;
}
body div.fc-event-main.expandable:hover {
    overflow: visible;
    white-space: normal;
    height: 38px !important;
}
.fc-daygrid-event-harness:has(.fc-event-main.expandable:hover) {
    z-index: 1000;
    filter: drop-shadow(0 3px 2px black);
}