body {
    @apply overflow-y-scroll;
}

:root {
    --theme-generic: #fff;
    --body-background: #F8F8F8;
    --theme-accent: #F8F8F8;
    --theme-text: #000;
}

.hide-pfp #profile-drop {
    display: none;
}

.hide-pfp #search {
    right: 4.5rem !important;
}