:root {
    --off-canvas-hover: var(--theme-accent) !important;
    --off-canvas-background: var(--theme-generic) !important;
    --form-border-color: var(--body-background) !important;
    --form-bg-hover-color: var(--theme-accent) !important;
}

/*This css file is a mess*/

.smooth-dnd-draggable-wrapper,
.side-nav,
.rb-selected,
.fc-cell-shaded {
    background-color: var(--theme-accent) !important;
}

body textarea {
    background-color: var(--body-background);
    color: var(--theme-text) !important;
}

.card:not(.eportfolio > .card),
#news-component li,
#msgs,
li.actions-small-1,
.filter-dropdown .filter-component > span.open,
ul.grid,
#left-menu,
#calendar th,
#calendar td,
#attachment-browser-panel-container,
#attachment-browser-filesystems,
div#account-content,
.content {
    background: var(--theme-generic);
}

:not(.cb-subject, .timetable-subject) > a:not(#notification-toggle):not(.button) {
    color: var(--link-colour) !important;
}

.cb-subject, .timetable-subject {
    filter: brightness(0.8);
}

.component-action section,
.island section,
.empty-state,
.timetable th,
.fc-list-event {
    background-color: var(--theme-generic) !important;
}

.f-dropdown.content.open {
    background: #3d3d40;
}

dl.tabs, .content table td {
    background: var(--theme-accent);
}

dd.active a, [role="menuitem"] a {
    color: var(--link-colour) !important;
}

body blockquote {
    background-color: var(--body-background);
    color: var(--theme-text);
    border-left-color: var(--theme-accent);
}

body blockquote::before {
    color: var(--theme-accent);
}

.rubric-wrap th, .rubric-wrap td, .markable th, .markable td {
    background-color: var(--theme-generic);
    color: var(--theme-text) !important;
    border: 1px solid var(--theme-text) !important;
}

.active.tab-title a {
    background: var(--theme-accent) !important;
    color: var(--theme-text) !important;
}

.dz-default.dz-message {
    background-color: var(--theme-accent);
    color: var(--link-colour);
}

body .button, body button {
    background-color: var(--theme-accent);
    color: var(--link-colour)
}

body .button:hover, body button:hover {
    filter: brightness(1.2);
    background-color: var(--theme-accent);
    color: var(--link-colour)
}

rect.highcharts-background {
    fill: var(--body-background);
}

label:not(.button),
.account-drop .separator,
ul.off-canvas-list *,
body h1,
dd a,
:not(a) > h3,
.fc-col-header-cell-cushion,
tr.fc-list-event > td {
    color: var(--theme-text) !important;
}

body tr.fc-list-event {
    text-decoration-color: var(--theme-text) !important;
}

.error-state div.row,
.error-state div.row h2,
article, #cb-settings,
.checkbox-label,
span[data-assessment-status-text],
#timeLeft,
.list-item,
.checklist.item,
.option-list label,
.content h2,
.message,
.content table td,
.content table th,
.card p.body,
#fc-dom-1,
.timetable th,
.content {
    color: var(--theme-text);
}