:root {
    --off-canvas-hover:      rgb(var(--theme-accent))     !important;
    --off-canvas-background: rgb(var(--theme-generic))    !important;
    --form-border-color:     rgb(var(--body-background))  !important;
    --form-bg-hover-color:   rgb(var(--theme-accent))     !important;
    --navigation-hover:      rgb(var(--theme-generic))    !important;
    --logo-background:       var(--navigation-background) !important;
}

.css_vars_so_webstorm_chills_out {
    --navigation-background: 0;
    --link-colour: 0;
}

/*This css file is a mess*/

.smooth-dnd-draggable-wrapper,
.side-nav,
body .rb-selected,
.fc-cell-shaded,
#account-content-mobile,
.fc .fc-list-event:hover td,
select {
    background-color: rgb(var(--theme-accent)) !important;
}

body textarea {
    background-color: var(--body-background);
    color: rgb(var(--theme-text)) !important;
}

.selected-item, .label.filter {
    background-color: var(--body-background) !important;
}

.card:not(.eportfolio > .card),
#news-component li,
#msgs,
li.actions-small-1,
ul.grid,
#left-menu,
#calendar th,
#calendar td,
#attachment-browser-panel-container,
#attachment-browser-filesystems,
div#account-content,
.c-search-page__filters > .c-island,
.c-search-page__results > div,
.content {
    background: rgb(var(--theme-generic));
}

:not(.timetable-subject) > a:not(#notification-toggle, .button, .cb-link) {
    color: rgb(var(--link-colour)) !important;
}

.component-action section,
.island section,
.empty-state,
.timetable th,
.fc-list-event,
.filter-dropdown .filter-component > span.open,
body .f-open-dropdown,
#profile-accordion,
.c-search-select button,
#pwaPrompt,
.hybrid-bar .top-menu li a:hover,
.reveal-modal {
    background-color: rgb(var(--theme-generic)) !important;
}

.f-dropdown.content.open {
    background: #3d3d40;
}

dl.tabs, .content table td {
    background: rgb(var(--theme-accent));
}

dd.active a, [role="menuitem"] a {
    color: rgb(var(--link-colour)) !important;
}

body blockquote {
    background-color: var(--body-background);
    color: rgb(var(--theme-text));
    border-left-color: rgb(var(--theme-accent));
}

body blockquote::before {
    color: rgb(var(--theme-accent));
}

.rubric-wrap th, .rubric-wrap td, .markable th, .markable td {
    background-color: rgb(var(--theme-generic));
    color: rgb(var(--theme-text)) !important;
    border: 1px solid rgb(var(--theme-text)) !important;
}

.active.tab-title a {
    background: rgb(var(--theme-accent)) !important;
    color: rgb(var(--theme-text)) !important;
}

.dz-default.dz-message {
    background-color: rgb(var(--theme-accent));
    color: rgb(var(--link-colour));
}

body .button, body button {
    background-color: rgb(var(--theme-accent));
    color: rgb(var(--link-colour))
}

body .button:hover, body button:hover, body .button:focus, body button:focus {
    filter: brightness(1.2);
    background-color: rgb(var(--theme-accent));
    color: rgb(var(--link-colour))
}

rect.highcharts-background {
    fill: var(--body-background);
}

label:not(.button),
.account-drop .separator,
ul.off-canvas-list *,
body h1,
.article h4,
article h4,
dd a,
:not(a) > h3,
.fc-col-header-cell-cushion,
tr.fc-list-event > td,
.reveal-modal p,
.reveal-modal h2,
select {
    color: rgb(var(--theme-text)) !important;
}

body tr.fc-list-event {
    text-decoration-color: rgb(var(--theme-text)) !important;
}

.error-state div.row,
.error-state div.row h2,
article, #cb-settings,
.checkbox-label,
span[data-assessment-status-text],
#timeLeft,
.list-item,
.checklist.item,
.option-list label,
.content h2,
.message,
.content table td,
.content table th,
.card p.body,
#fc-dom-1,
.timetable th,
.content {
    color: rgb(var(--theme-text));
}

.VueTables__table-footer, .VueTables__wrapper, .VueTables :is(.filters, th, tr, td), .VueTables__search, input:not(:hover) {
    background: rgb(var(--theme-generic)) !important;
    color: rgb(var(--theme-text)) !important;
}

/* The things we have to do... */
/* Preserving cell background colours is ideal when possible but many have hardcoded backgrounds. */
/* This will obviously not catch off-whites but does help in a few scenarios. */
td:is([style*="background-color:#FFFFFF"],[style*="background-color:#ffffff"],[style*="background-color:#fff"],[style*="background-color:rgb(255,255,255)"]) {
    background-color: rgb(var(--theme-accent)) !important;
}