@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply overflow-y-scroll;
}

:root {
    --theme-generic: 255 255 255;
    --body-background: 248 248 248;
    --theme-accent: 239 245 255;
    --theme-text: 0 0 0;
}

.hide-pfp #profile-drop {
    display: none;
}

.hide-pfp #search {
    right: 4.5rem !important;
}

.dui-modal-backdrop > button {
    border: none;
}