@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply overflow-y-scroll;
}

:root {
    --theme-generic: 255 255 255;
    --body-background: 248 248 248;
    --theme-accent: 239 245 255;
    --theme-text: 0 0 0;
}

body.hide-pfp #profile-drop {
    width: 4.5rem;
    aspect-ratio: 1/1;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/2048px-Default_pfp.svg.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    > img {
        display: none;
    }
}

body.hide-pwa #pwaPrompt {
    display: none !important;
}

.dui-modal-backdrop > button {
    border: none;
}