body .timetable-small, body .timetable {
    display: none !important;
}

:root {
    overflow-y: auto !important;
}

#content {
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#container > [data-v-app] {
    animation: fadein 1000ms;
}

#calendar-36739 table.fc-list-table {
    @apply rounded-md overflow-hidden;
}

#calendar-36739 tbody {
    border: none !important;
}