@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    /*I literally can't find any docs on this but it works?? so, cool ig*/
    /*noinspection CssUnknownTarget*/
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/icons.woff2") format('woff2');
}

.cb-icon {
    /*noinspection CssNoGenericFontName*/
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.icon-fill {
    font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}